.page-form #header{
    border-bottom:0;
}
.page-form #page-holder{
    border-top:0;
}
.page-form #footer{
    height:105px;
}
.page-form #footer p{
    margin:0;
}
#page-holder #column-wide{
    width:55%;
}
#page-holder #column-narrow{
    background:transparent;
    border:0;
}
#page-holder #column-narrow{
    width:45%;
    padding-top:10px;
}
#page-holder #column-narrow.form-thank-you{
    display:none;
}
#page-holder #columns-wrapper #column-wide h2{
    background:transparent;
    color:inherit;
	margin:inherit;
	padding:inherit;
    font-weight:inherit;
}
#page-holder .school-logo{
    margin:auto;
    top:0;
    left:0;
    box-shadow:none;
    height:auto;
}
.eddy-form-container,
#wizard-school-info-holder{
    margin:20px auto;
    width:90%;
}

#page-holder #wizard-school-info-holder .wizard-school-name{
    font-size: 22px;
	color:inherit;
	font-style:inherit;
	margin:5px 0;
	padding:inherit;
}

#page-holder .right-inc-wrapper-outer,
#page-holder .right-inc-wrapper-inner{
    background:transparent;
    border:0;
}


@media all and (max-width: 768px) {
    .eddy-form-container,
    #wizard-school-info-holder{
        margin:10px auto;
        width:98%;
    }
    #wizard-school-info-holder {
        margin-right:1%;
        margin-left:10px;
    }
    #page-holder #column-wide,
    #page-holder #column-narrow{
        display: block;
        background:transparent;
        width:100%;
    }

    #page-holder #columns-wrapper .school-logo{
        display:inline-block;
        vertical-align:top;
        width:35%;
        margin:10px 0 0 1%;

    }
    #wizard-school-info-holder{
        width:60%;
        display:inline-block;
    }

    /* eddy form */
    .eddy-form-wizard-body{
        margin-left:0;
    }
}